

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
  </head>

   
    <link rel="stylesheet" href="/css/styleorder.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<div class="sidebar nav flex-column nav-pills h-100 pt-3 flex-shrink-0" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <div class="sidebar-brand text-center pt-xl-4 pb-xxl-5 pb-xl-4 pb-3">
        <a class="navbar-brand" href="#"> 
            <!-- <img src=" #####" alt="sidebar-logo.png" class=" img-fluid"> -->
            <h1>logo</h1>
        </a>
    </div>
    <div class="new-order mb-xxl-3 pb-3">
        <button class="btn fw-normal d-flex align-items-center text-white justify-content-center m-auto pe-xl-5">
            <i class=" d-flex me-3">
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9 0C9.19891 0 9.38968 0.0790178 9.53033 0.21967C9.67098 0.360322 9.75 0.551088 9.75 0.75V8.25H17.25C17.4489 8.25 17.6397 8.32902 17.7803 8.46967C17.921 8.61032 18 8.80109 18 9C18 9.19891 17.921 9.38968 17.7803 9.53033C17.6397 9.67098 17.4489 9.75 17.25 9.75H9.75V17.25C9.75 17.4489 9.67098 17.6397 9.53033 17.7803C9.38968 17.921 9.19891 18 9 18C8.80109 18 8.61032 17.921 8.46967 17.7803C8.32902 17.6397 8.25 17.4489 8.25 17.25V9.75H0.75C0.551088 9.75 0.360322 9.67098 0.21967 9.53033C0.0790178 9.38968 0 9.19891 0 9C0 8.80109 0.0790178 8.61032 0.21967 8.46967C0.360322 8.32902 0.551088 8.25 0.75 8.25H8.25V0.75C8.25 0.551088 8.32902 0.360322 8.46967 0.21967C8.61032 0.0790178 8.80109 0 9 0Z" fill="white" />
                </svg>
            </i>
            New Order
        </button>
    </div>
    <button class="nav-link text-start d-flex active align-items-center" id="v-pills-orderList-tab" data-bs-toggle="pill" data-bs-target="#v-pills-orderList" type="button" role="tab" aria-controls="v-pills-orderList" aria-selected="true">
        <i class="d-flex flex-shrink-0">
            <svg width="24" height="18" viewBox="0 0 24 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.75 1.5C21.9489 1.5 22.1397 1.57902 22.2803 1.71967C22.421 1.86032 22.5 2.05109 22.5 2.25V15.75C22.5 15.9489 22.421 16.1397 22.2803 16.2803C22.1397 16.421 21.9489 16.5 21.75 16.5H2.25C2.05109 16.5 1.86032 16.421 1.71967 16.2803C1.57902 16.1397 1.5 15.9489 1.5 15.75V2.25C1.5 2.05109 1.57902 1.86032 1.71967 1.71967C1.86032 1.57902 2.05109 1.5 2.25 1.5H21.75ZM2.25 0C1.65326 0 1.08097 0.237053 0.65901 0.65901C0.237053 1.08097 0 1.65326 0 2.25L0 15.75C0 16.3467 0.237053 16.919 0.65901 17.341C1.08097 17.7629 1.65326 18 2.25 18H21.75C22.3467 18 22.919 17.7629 23.341 17.341C23.7629 16.919 24 16.3467 24 15.75V2.25C24 1.65326 23.7629 1.08097 23.341 0.65901C22.919 0.237053 22.3467 0 21.75 0H2.25Z" fill="#B5B2AD" />
                <path
                    d="M7.5 9C7.5 8.80109 7.57902 8.61032 7.71967 8.46967C7.86032 8.32902 8.05109 8.25 8.25 8.25H18.75C18.9489 8.25 19.1397 8.32902 19.2803 8.46967C19.421 8.61032 19.5 8.80109 19.5 9C19.5 9.19891 19.421 9.38968 19.2803 9.53033C19.1397 9.67098 18.9489 9.75 18.75 9.75H8.25C8.05109 9.75 7.86032 9.67098 7.71967 9.53033C7.57902 9.38968 7.5 9.19891 7.5 9ZM7.5 5.25C7.5 5.05109 7.57902 4.86032 7.71967 4.71967C7.86032 4.57902 8.05109 4.5 8.25 4.5H18.75C18.9489 4.5 19.1397 4.57902 19.2803 4.71967C19.421 4.86032 19.5 5.05109 19.5 5.25C19.5 5.44891 19.421 5.63968 19.2803 5.78033C19.1397 5.92098 18.9489 6 18.75 6H8.25C8.05109 6 7.86032 5.92098 7.71967 5.78033C7.57902 5.63968 7.5 5.44891 7.5 5.25ZM7.5 12.75C7.5 12.5511 7.57902 12.3603 7.71967 12.2197C7.86032 12.079 8.05109 12 8.25 12H18.75C18.9489 12 19.1397 12.079 19.2803 12.2197C19.421 12.3603 19.5 12.5511 19.5 12.75C19.5 12.9489 19.421 13.1397 19.2803 13.2803C19.1397 13.421 18.9489 13.5 18.75 13.5H8.25C8.05109 13.5 7.86032 13.421 7.71967 13.2803C7.57902 13.1397 7.5 12.9489 7.5 12.75ZM6 5.25C6 5.44891 5.92098 5.63968 5.78033 5.78033C5.63968 5.92098 5.44891 6 5.25 6C5.05109 6 4.86032 5.92098 4.71967 5.78033C4.57902 5.63968 4.5 5.44891 4.5 5.25C4.5 5.05109 4.57902 4.86032 4.71967 4.71967C4.86032 4.57902 5.05109 4.5 5.25 4.5C5.44891 4.5 5.63968 4.57902 5.78033 4.71967C5.92098 4.86032 6 5.05109 6 5.25ZM6 9C6 9.19891 5.92098 9.38968 5.78033 9.53033C5.63968 9.67098 5.44891 9.75 5.25 9.75C5.05109 9.75 4.86032 9.67098 4.71967 9.53033C4.57902 9.38968 4.5 9.19891 4.5 9C4.5 8.80109 4.57902 8.61032 4.71967 8.46967C4.86032 8.32902 5.05109 8.25 5.25 8.25C5.44891 8.25 5.63968 8.32902 5.78033 8.46967C5.92098 8.61032 6 8.80109 6 9ZM6 12.75C6 12.9489 5.92098 13.1397 5.78033 13.2803C5.63968 13.421 5.44891 13.5 5.25 13.5C5.05109 13.5 4.86032 13.421 4.71967 13.2803C4.57902 13.1397 4.5 12.9489 4.5 12.75C4.5 12.5511 4.57902 12.3603 4.71967 12.2197C4.86032 12.079 5.05109 12 5.25 12C5.44891 12 5.63968 12.079 5.78033 12.2197C5.92098 12.3603 6 12.5511 6 12.75Z"
                    fill="#B5B2AD" />
            </svg>
        </i>
        Order List
    </button>

    <button class="nav-link text-start d-flex" id="v-pills-scheduleOrder-tab" data-bs-toggle="pill" data-bs-target="#v-pills-scheduleOrder" type="button" role="tab" aria-controls="v-pills-scheduleOrder" aria-selected="false">
        <i class="d-flex flex-shrink-0 stroke">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 19H5C3.93913 19 2.92172 18.5786 2.17157 17.8284C1.42143 17.0783 1 16.0609 1 15V6C1 4.93913 1.42143 3.92172 2.17157 3.17157C2.92172 2.42143 3.93913 2 5 2H16C17.0609 2 18.0783 2.42143 18.8284 3.17157C19.5786 3.92172 20 4.93913 20 6V9M7 1V3M14 1V3M1 7H20M17.5 14.643L16 16.143" stroke="#B5B2AD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M16 21C18.7614 21 21 18.7614 21 16C21 13.2386 18.7614 11 16 11C13.2386 11 11 13.2386 11 16C11 18.7614 13.2386 21 16 21Z" stroke="#B5B2AD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </i>
        schedule Order
    </button>

    <button class="nav-link text-start d-flex" id="v-pills-pendingOrder-tab" data-bs-toggle="pill" data-bs-target="#v-pills-pendingOrder" type="button" role="tab" aria-controls="v-pills-pendingOrder" aria-selected="false">
        <i class="d-flex flex-shrink-0">
            <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 11C10.24 11 8 13.24 8 16C8 18.76 10.24 21 13 21C15.76 21 18 18.76 18 16C18 13.24 15.76 11 13 11ZM14.65 18.35L12.5 16.2V13H13.5V15.79L15.35 17.64L14.65 18.35ZM14 2H10.82C10.4 0.84 9.3 0 8 0C6.7 0 5.6 0.84 5.18 2H2C0.9 2 0 2.9 0 4V19C0 20.1 0.9 21 2 21H8.11C7.51837 20.4258 7.34708 20.7479 7 20H1V12.5V4H4V6H12V4H15V9C15.5 9.5 15.38 9.39 16 9.68V4C16 2.9 15.1 2 14 2ZM8 4C7.45 4 7 3.55 7 3C7 2.45 7.45 2 8 2C8.55 2 9 2.45 9 3C9 3.55 8.55 4 8 4Z" fill="#B5B2AD" />
            </svg>
        </i>
        Pending Order
    </button>

    <button class="nav-link text-start d-flex" id="v-pills-approvedOrder-tab" data-bs-toggle="pill" data-bs-target="#v-pills-approvedOrder" type="button" role="tab" aria-controls="v-pills-approvedOrder" aria-selected="false">
        <i class="d-flex flex-shrink-0">
            <svg width="20" height="23" viewBox="0 0 20 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M19.5 14.0001C19.5015 13.249 19.315 12.5096 18.9576 11.8491C18.6001 11.1886 18.083 10.6281 17.4535 10.2186C16.8239 9.80917 16.1019 9.56379 15.3532 9.50485C14.6045 9.44591 13.8529 9.57529 13.167 9.88119C12.4812 10.1871 11.8827 10.6598 11.4263 11.2562C10.9699 11.8526 10.67 12.5538 10.554 13.2958C10.438 14.0378 10.5095 14.797 10.7621 15.5043C11.0147 16.2116 11.4402 16.8444 12 17.3451V23.0001L15 21.5796L18 23.0001V17.3451C18.4715 16.9246 18.8489 16.4093 19.1074 15.8328C19.3659 15.2564 19.4997 14.6318 19.5 14.0001ZM16.5 20.6301L15 19.9198L13.5 20.6301V18.2376C14.4694 18.5876 15.5306 18.5876 16.5 18.2376V20.6301ZM15 17.0001C14.4066 17.0001 13.8266 16.8241 13.3333 16.4945C12.8399 16.1648 12.4554 15.6963 12.2284 15.1481C12.0013 14.5999 11.9419 13.9967 12.0576 13.4148C12.1734 12.8328 12.4591 12.2983 12.8787 11.8787C13.2982 11.4592 13.8328 11.1735 14.4147 11.0577C14.9967 10.9419 15.5999 11.0014 16.148 11.2284C16.6962 11.4555 17.1648 11.84 17.4944 12.3334C17.824 12.8267 18 13.4067 18 14.0001C17.999 14.7954 17.6826 15.5579 17.1202 16.1203C16.5578 16.6827 15.7953 16.9991 15 17.0001V17.0001Z"
                    fill="#B5B2AD" />
                <path d="M15.75 2.75H13.5V2C13.4988 1.60254 13.3404 1.2217 13.0593 0.940651C12.7783 0.659604 12.3975 0.501187 12 0.5H6C5.60254 0.501187 5.2217 0.659604 4.94065 0.940651C4.6596 1.2217 4.50119 1.60254 4.5 2V2.75H2.25C1.85254 2.75119 1.4717 2.9096 1.19065 3.19065C0.909604 3.4717 0.751187 3.85254 0.75 4.25V20C0.751187 20.3975 0.909604 20.7783 1.19065 21.0593C1.4717 21.3404 1.85254 21.4988 2.25 21.5H9V20H2.25V4.25H4.5V6.5H13.5V4.25H15.75V8H17.25V4.25C17.2488 3.85254 17.0904 3.4717 16.8093 3.19065C16.5283 2.9096 16.1475 2.75119 15.75 2.75ZM12 5H6V2H12V5Z" fill="#B5B2AD" />
            </svg>
        </i>
        Approved Order
    </button>

    <button class="nav-link text-start d-flex" id="v-pills-completedOrder-tab" data-bs-toggle="pill" data-bs-target="#v-pills-completedOrder" type="button" role="tab" aria-controls="v-pills-completedOrder" aria-selected="false">
        <i class="d-flex flex-shrink-0">
            <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.5 19.385L11.5575 17.4425L10.5 18.5L13.5 21.5L19.5 15.5L18.4425 14.4425L13.5 19.385Z" fill="#B5B2AD" />
                <path d="M15.75 2.75H13.5V2C13.4988 1.60254 13.3404 1.2217 13.0593 0.940651C12.7783 0.659604 12.3975 0.501187 12 0.5H6C5.60254 0.501187 5.2217 0.659604 4.94065 0.940651C4.6596 1.2217 4.50119 1.60254 4.5 2V2.75H2.25C1.85254 2.75119 1.4717 2.9096 1.19065 3.19065C0.909604 3.4717 0.751187 3.85254 0.75 4.25V20C0.751187 20.3975 0.909604 20.7783 1.19065 21.0593C1.4717 21.3404 1.85254 21.4988 2.25 21.5H9V20H2.25V4.25H4.5V6.5H13.5V4.25H15.75V12.5H17.25V4.25C17.2488 3.85254 17.0904 3.4717 16.8093 3.19065C16.5283 2.9096 16.1475 2.75119 15.75 2.75ZM12 5H6V2H12V5Z" fill="#B5B2AD" />
            </svg>
        </i>
        Completed Order
    </button>

    <button class="nav-link text-start d-flex" id="v-pills-usersList-tab" data-bs-toggle="pill" data-bs-target="#v-pills-usersList" type="button" role="tab" aria-controls="v-pills-usersList" aria-selected="false">
        <i class="d-flex flex-shrink-0">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M6.7998 8.20002C6.7998 8.04089 6.86302 7.88828 6.97554 7.77576C7.08806 7.66324 7.24067 7.60002 7.3998 7.60002H11.5998C11.7589 7.60002 11.9115 7.66324 12.0241 7.77576C12.1366 7.88828 12.1998 8.04089 12.1998 8.20002C12.1998 8.35915 12.1366 8.51177 12.0241 8.62429C11.9115 8.73681 11.7589 8.80002 11.5998 8.80002H7.3998C7.24067 8.80002 7.08806 8.73681 6.97554 8.62429C6.86302 8.51177 6.7998 8.35915 6.7998 8.20002ZM6.7998 11.8C6.7998 11.6409 6.86302 11.4883 6.97554 11.3758C7.08806 11.2632 7.24067 11.2 7.3998 11.2H11.5998C11.7589 11.2 11.9115 11.2632 12.0241 11.3758C12.1366 11.4883 12.1998 11.6409 12.1998 11.8C12.1998 11.9592 12.1366 12.1118 12.0241 12.2243C11.9115 12.3368 11.7589 12.4 11.5998 12.4H7.3998C7.24067 12.4 7.08806 12.3368 6.97554 12.2243C6.86302 12.1118 6.7998 11.9592 6.7998 11.8ZM6.7998 15.4C6.7998 15.2409 6.86302 15.0883 6.97554 14.9758C7.08806 14.8632 7.24067 14.8 7.3998 14.8H11.5998C11.7589 14.8 11.9115 14.8632 12.0241 14.9758C12.1366 15.0883 12.1998 15.2409 12.1998 15.4C12.1998 15.5592 12.1366 15.7118 12.0241 15.8243C11.9115 15.9368 11.7589 16 11.5998 16H7.3998C7.24067 16 7.08806 15.9368 6.97554 15.8243C6.86302 15.7118 6.7998 15.5592 6.7998 15.4ZM5.5998 8.20002C5.5998 8.43872 5.50498 8.66764 5.3362 8.83642C5.16742 9.0052 4.9385 9.10003 4.6998 9.10003C4.46111 9.10003 4.23219 9.0052 4.06341 8.83642C3.89463 8.66764 3.7998 8.43872 3.7998 8.20002C3.7998 7.96133 3.89463 7.73241 4.06341 7.56363C4.23219 7.39485 4.46111 7.30002 4.6998 7.30002C4.9385 7.30002 5.16742 7.39485 5.3362 7.56363C5.50498 7.73241 5.5998 7.96133 5.5998 8.20002ZM5.5998 11.8C5.5998 12.0387 5.50498 12.2676 5.3362 12.4364C5.16742 12.6052 4.9385 12.7 4.6998 12.7C4.46111 12.7 4.23219 12.6052 4.06341 12.4364C3.89463 12.2676 3.7998 12.0387 3.7998 11.8C3.7998 11.5613 3.89463 11.3324 4.06341 11.1636C4.23219 10.9948 4.46111 10.9 4.6998 10.9C4.9385 10.9 5.16742 10.9948 5.3362 11.1636C5.50498 11.3324 5.5998 11.5613 5.5998 11.8ZM4.6998 16.3C4.9385 16.3 5.16742 16.2052 5.3362 16.0364C5.50498 15.8676 5.5998 15.6387 5.5998 15.4C5.5998 15.1613 5.50498 14.9324 5.3362 14.7636C5.16742 14.5948 4.9385 14.5 4.6998 14.5C4.46111 14.5 4.23219 14.5948 4.06341 14.7636C3.89463 14.9324 3.7998 15.1613 3.7998 15.4C3.7998 15.6387 3.89463 15.8676 4.06341 16.0364C4.23219 16.2052 4.46111 16.3 4.6998 16.3ZM4.5018 1.60002C4.62593 1.24893 4.8559 0.944979 5.16002 0.730058C5.46413 0.515138 5.82741 0.399829 6.1998 0.400025H9.7998C10.1722 0.399829 10.5355 0.515138 10.8396 0.730058C11.1437 0.944979 11.3737 1.24893 11.4978 1.60002H13.3998C13.8772 1.60002 14.335 1.78967 14.6726 2.12723C15.0102 2.4648 15.1998 2.92264 15.1998 3.40002V17.8C15.1998 18.2774 15.0102 18.7353 14.6726 19.0728C14.335 19.4104 13.8772 19.6 13.3998 19.6H2.5998C2.12241 19.6 1.66458 19.4104 1.32701 19.0728C0.989447 18.7353 0.799805 18.2774 0.799805 17.8V3.40002C0.799805 2.92264 0.989447 2.4648 1.32701 2.12723C1.66458 1.78967 2.12241 1.60002 2.5998 1.60002H4.5018ZM6.1998 1.60002C6.04067 1.60002 5.88806 1.66324 5.77554 1.77576C5.66302 1.88828 5.5998 2.04089 5.5998 2.20002C5.5998 2.35915 5.66302 2.51177 5.77554 2.62429C5.88806 2.73681 6.04067 2.80002 6.1998 2.80002H9.7998C9.95893 2.80002 10.1115 2.73681 10.2241 2.62429C10.3366 2.51177 10.3998 2.35915 10.3998 2.20002C10.3998 2.04089 10.3366 1.88828 10.2241 1.77576C10.1115 1.66324 9.95893 1.60002 9.7998 1.60002H6.1998ZM4.5018 2.80002H2.5998C2.44067 2.80002 2.28806 2.86324 2.17554 2.97576C2.06302 3.08828 1.9998 3.24089 1.9998 3.40002V17.8C1.9998 17.9592 2.06302 18.1118 2.17554 18.2243C2.28806 18.3368 2.44067 18.4 2.5998 18.4H13.3998C13.5589 18.4 13.7115 18.3368 13.8241 18.2243C13.9366 18.1118 13.9998 17.9592 13.9998 17.8V3.40002C13.9998 3.24089 13.9366 3.08828 13.8241 2.97576C13.7115 2.86324 13.5589 2.80002 13.3998 2.80002H11.4978C11.3737 3.15112 11.1437 3.45507 10.8396 3.66999C10.5355 3.88491 10.1722 4.00022 9.7998 4.00002H6.1998C5.82741 4.00022 5.46413 3.88491 5.16002 3.66999C4.8559 3.45507 4.62593 3.15112 4.5018 2.80002Z"
                    fill="#B5B2AD" />
            </svg>

        </i>
        Users List
    </button>

    <button class="nav-link text-start d-flex" id="v-pills-usersDocuments-tab" data-bs-toggle="pill" data-bs-target="#v-pills-usersDocuments" type="button" role="tab" aria-controls="v-pills-usersDocuments" aria-selected="false">
        <i class="d-flex flex-shrink-0">
            <svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M3.1998 10.6C3.1998 10.4409 3.26302 10.2883 3.37554 10.1758C3.48806 10.0632 3.64067 10 3.7998 10C3.95893 10 4.11155 10.0632 4.22407 10.1758C4.33659 10.2883 4.3998 10.4409 4.3998 10.6C4.3998 10.7592 4.33659 10.9118 4.22407 11.0243C4.11155 11.1368 3.95893 11.2 3.7998 11.2C3.64067 11.2 3.48806 11.1368 3.37554 11.0243C3.26302 10.9118 3.1998 10.7592 3.1998 10.6ZM3.7998 12.4C3.64067 12.4 3.48806 12.4632 3.37554 12.5758C3.26302 12.6883 3.1998 12.8409 3.1998 13C3.1998 13.1592 3.26302 13.3118 3.37554 13.4243C3.48806 13.5368 3.64067 13.6 3.7998 13.6C3.95893 13.6 4.11155 13.5368 4.22407 13.4243C4.33659 13.3118 4.3998 13.1592 4.3998 13C4.3998 12.8409 4.33659 12.6883 4.22407 12.5758C4.11155 12.4632 3.95893 12.4 3.7998 12.4ZM3.1998 15.4C3.1998 15.2409 3.26302 15.0883 3.37554 14.9758C3.48806 14.8632 3.64067 14.8 3.7998 14.8C3.95893 14.8 4.11155 14.8632 4.22407 14.9758C4.33659 15.0883 4.3998 15.2409 4.3998 15.4C4.3998 15.5592 4.33659 15.7118 4.22407 15.8243C4.11155 15.9368 3.95893 16 3.7998 16C3.64067 16 3.48806 15.9368 3.37554 15.8243C3.26302 15.7118 3.1998 15.5592 3.1998 15.4ZM6.1998 10C6.04067 10 5.88806 10.0632 5.77554 10.1758C5.66302 10.2883 5.5998 10.4409 5.5998 10.6C5.5998 10.7592 5.66302 10.9118 5.77554 11.0243C5.88806 11.1368 6.04067 11.2 6.1998 11.2H12.1998C12.3589 11.2 12.5115 11.1368 12.6241 11.0243C12.7366 10.9118 12.7998 10.7592 12.7998 10.6C12.7998 10.4409 12.7366 10.2883 12.6241 10.1758C12.5115 10.0632 12.3589 10 12.1998 10H6.1998ZM5.5998 13C5.5998 12.8409 5.66302 12.6883 5.77554 12.5758C5.88806 12.4632 6.04067 12.4 6.1998 12.4H12.1998C12.3589 12.4 12.5115 12.4632 12.6241 12.5758C12.7366 12.6883 12.7998 12.8409 12.7998 13C12.7998 13.1592 12.7366 13.3118 12.6241 13.4243C12.5115 13.5368 12.3589 13.6 12.1998 13.6H6.1998C6.04067 13.6 5.88806 13.5368 5.77554 13.4243C5.66302 13.3118 5.5998 13.1592 5.5998 13ZM6.1998 14.8C6.04067 14.8 5.88806 14.8632 5.77554 14.9758C5.66302 15.0883 5.5998 15.2409 5.5998 15.4C5.5998 15.5592 5.66302 15.7118 5.77554 15.8243C5.88806 15.9368 6.04067 16 6.1998 16H12.1998C12.3589 16 12.5115 15.9368 12.6241 15.8243C12.7366 15.7118 12.7998 15.5592 12.7998 15.4C12.7998 15.2409 12.7366 15.0883 12.6241 14.9758C12.5115 14.8632 12.3589 14.8 12.1998 14.8H6.1998ZM3.1998 0.400024C2.56328 0.400024 1.95284 0.652881 1.50275 1.10297C1.05266 1.55306 0.799805 2.1635 0.799805 2.80002V17.2C0.799805 17.8365 1.05266 18.447 1.50275 18.8971C1.95284 19.3472 2.56328 19.6 3.1998 19.6H12.7998C13.4363 19.6 14.0468 19.3472 14.4969 18.8971C14.9469 18.447 15.1998 17.8365 15.1998 17.2V6.89682C15.1994 6.4196 15.0095 5.96207 14.6718 5.62482L9.975 0.926824C9.63757 0.589602 9.18006 0.400126 8.703 0.400024H3.1998ZM1.9998 2.80002C1.9998 2.48176 2.12623 2.17654 2.35128 1.9515C2.57632 1.72645 2.88154 1.60002 3.1998 1.60002H7.9998V5.80002C7.9998 6.27741 8.18945 6.73525 8.52701 7.07282C8.86458 7.41038 9.32241 7.60002 9.7998 7.60002H13.9998V17.2C13.9998 17.5183 13.8734 17.8235 13.6483 18.0486C13.4233 18.2736 13.1181 18.4 12.7998 18.4H3.1998C2.88154 18.4 2.57632 18.2736 2.35128 18.0486C2.12623 17.8235 1.9998 17.5183 1.9998 17.2V2.80002ZM13.7514 6.40002H9.7998C9.64067 6.40002 9.48806 6.33681 9.37554 6.22429C9.26302 6.11177 9.1998 5.95915 9.1998 5.80002V1.84842L13.7514 6.40002Z"
                    fill="#B5B2AD" />
            </svg>
        </i>
        Users Documents
    </button>

    <button class="nav-link text-start d-flex" id="v-pills-settlement-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settlement" type="button" role="tab" aria-controls="v-pills-settlement" aria-selected="false">
        <i class="d-flex flex-shrink-0 stroke">
            <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16 1H2C1.44772 1 1 1.44772 1 2V20C1 20.5523 1.44772 21 2 21H16C16.5523 21 17 20.5523 17 20V2C17 1.44772 16.5523 1 16 1Z" stroke="#B5B2AD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M5 1H9.5V9L7.25 7L5 9V1Z" stroke="#B5B2AD" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M5 13H10M5 16H13" stroke="#B5B2AD" stroke-width="1.5" stroke-linecap="round" />
            </svg>
        </i>
        Settlement
    </button>

    <button class="nav-link text-start d-flex" id="v-pills-documents-tab" data-bs-toggle="pill" data-bs-target="#v-pills-documents" type="button" role="tab" aria-controls="v-pills-documents" aria-selected="false">
        <i class="d-flex flex-shrink-0">
            <svg width="17" height="20" viewBox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M3.7998 10C3.64067 10 3.48806 10.0632 3.37554 10.1758C3.26302 10.2883 3.1998 10.4409 3.1998 10.6C3.1998 10.7592 3.26302 10.9118 3.37554 11.0243C3.48806 11.1368 3.64067 11.2 3.7998 11.2C3.95893 11.2 4.11155 11.1368 4.22407 11.0243C4.33659 10.9118 4.3998 10.7592 4.3998 10.6C4.3998 10.4409 4.33659 10.2883 4.22407 10.1758C4.11155 10.0632 3.95893 10 3.7998 10ZM3.1998 13C3.1998 12.8409 3.26302 12.6883 3.37554 12.5758C3.48806 12.4632 3.64067 12.4 3.7998 12.4C3.95893 12.4 4.11155 12.4632 4.22407 12.5758C4.33659 12.6883 4.3998 12.8409 4.3998 13C4.3998 13.1592 4.33659 13.3118 4.22407 13.4243C4.11155 13.5368 3.95893 13.6 3.7998 13.6C3.64067 13.6 3.48806 13.5368 3.37554 13.4243C3.26302 13.3118 3.1998 13.1592 3.1998 13ZM5.5998 10.6C5.5998 10.4409 5.66302 10.2883 5.77554 10.1758C5.88806 10.0632 6.04068 10 6.1998 10H10.9998C11.1589 10 11.3115 10.0632 11.4241 10.1758C11.5366 10.2883 11.5998 10.4409 11.5998 10.6C11.5998 10.7592 11.5366 10.9118 11.4241 11.0243C11.3115 11.1368 11.1589 11.2 10.9998 11.2H6.1998C6.04068 11.2 5.88806 11.1368 5.77554 11.0243C5.66302 10.9118 5.5998 10.7592 5.5998 10.6ZM6.1998 12.4C6.04068 12.4 5.88806 12.4632 5.77554 12.5758C5.66302 12.6883 5.5998 12.8409 5.5998 13C5.5998 13.1592 5.66302 13.3118 5.77554 13.4243C5.88806 13.5368 6.04068 13.6 6.1998 13.6H10.9998C11.1589 13.6 11.3115 13.5368 11.4241 13.4243C11.5366 13.3118 11.5998 13.1592 11.5998 13C11.5998 12.8409 11.5366 12.6883 11.4241 12.5758C11.3115 12.4632 11.1589 12.4 10.9998 12.4H6.1998ZM3.1998 0.400024C2.56329 0.400024 1.95284 0.652881 1.50275 1.10297C1.05266 1.55306 0.799805 2.1635 0.799805 2.80002V14.8C0.799805 15.4365 1.05266 16.047 1.50275 16.4971C1.95284 16.9472 2.56329 17.2 3.1998 17.2H11.5998C12.2363 17.2 12.8468 16.9472 13.2969 16.4971C13.7469 16.047 13.9998 15.4365 13.9998 14.8V6.89682C13.9994 6.4196 13.8095 5.96207 13.4718 5.62482L8.775 0.926824C8.43757 0.589602 7.98006 0.400126 7.50301 0.400024H3.1998ZM1.9998 2.80002C1.9998 2.48176 2.12623 2.17654 2.35128 1.9515C2.57632 1.72645 2.88155 1.60002 3.1998 1.60002H6.7998V5.80002C6.79981 6.27741 6.98945 6.73525 7.32701 7.07282C7.66458 7.41038 8.12242 7.60002 8.5998 7.60002H12.7998V14.8C12.7998 15.1183 12.6734 15.4235 12.4483 15.6486C12.2233 15.8736 11.9181 16 11.5998 16H3.1998C2.88155 16 2.57632 15.8736 2.35128 15.6486C2.12623 15.4235 1.9998 15.1183 1.9998 14.8V2.80002ZM7.9998 5.80002V1.84842L12.5514 6.40002H8.5998C8.44068 6.40002 8.28806 6.33681 8.17554 6.22429C8.06302 6.11177 7.9998 5.95915 7.9998 5.80002ZM15.1998 7.60002C15.5181 7.60002 15.8233 7.72645 16.0483 7.9515C16.2734 8.17654 16.3998 8.48176 16.3998 8.80002V14.872C16.3998 15.4929 16.2775 16.1077 16.0399 16.6814C15.8023 17.255 15.454 17.7762 15.015 18.2152C14.576 18.6543 14.0548 19.0025 13.4811 19.2401C12.9075 19.4777 12.2927 19.6 11.6718 19.6H4.3998C4.08155 19.6 3.77632 19.4736 3.55128 19.2486C3.32623 19.0235 3.1998 18.7183 3.1998 18.4H11.5998C12.5546 18.4 13.4703 18.0207 14.1454 17.3456C14.8205 16.6705 15.1998 15.7548 15.1998 14.8V7.60002Z"
                    fill="#B5B2AD" />
            </svg>
        </i>
        Documents
    </button>

    <button class="nav-link text-start d-flex" id="v-pills-adminDocuments-tab" data-bs-toggle="pill" data-bs-target="#v-pills-adminDocuments" type="button" role="tab" aria-controls="v-pills-adminDocuments" aria-selected="false">
        <i class="d-flex flex-shrink-0">
            <svg width="19" height="21" viewBox="0 0 19 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M6.2002 0.400024C5.56368 0.400024 4.95323 0.652881 4.50314 1.10297C4.05305 1.55306 3.8002 2.1635 3.8002 2.80002V8.84922C4.19742 8.78254 4.60297 8.78254 5.0002 8.84922V2.80002C5.0002 2.48176 5.12662 2.17654 5.35167 1.9515C5.57671 1.72645 5.88194 1.60002 6.2002 1.60002H11.0002V5.80002C11.0002 6.27741 11.1898 6.73525 11.5274 7.07282C11.865 7.41038 12.3228 7.60002 12.8002 7.60002H17.0002V17.2C17.0002 17.5183 16.8738 17.8235 16.6487 18.0486C16.4237 18.2736 16.1185 18.4 15.8002 18.4H9.7546C9.69027 18.8193 9.55643 19.2248 9.3586 19.6H15.8002C16.4367 19.6 17.0472 19.3472 17.4973 18.8971C17.9473 18.447 18.2002 17.8365 18.2002 17.2V6.89682C18.1998 6.4196 18.0099 5.96207 17.6722 5.62482L12.9754 0.926824C12.638 0.589602 12.1805 0.400126 11.7034 0.400024H6.2002ZM16.7518 6.40002H12.8002C12.6411 6.40002 12.4885 6.33681 12.3759 6.22429C12.2634 6.11177 12.2002 5.95915 12.2002 5.80002V1.84842L16.7518 6.40002ZM6.8002 12.4C6.8002 13.0365 6.54734 13.647 6.09725 14.0971C5.64716 14.5472 5.03672 14.8 4.4002 14.8C3.76368 14.8 3.15323 14.5472 2.70314 14.0971C2.25305 13.647 2.0002 13.0365 2.0002 12.4C2.0002 11.7635 2.25305 11.1531 2.70314 10.703C3.15323 10.2529 3.76368 10 4.4002 10C5.03672 10 5.64716 10.2529 6.09725 10.703C6.54734 11.1531 6.8002 11.7635 6.8002 12.4ZM8.6002 17.8C8.6002 19.294 7.4002 20.8 4.4002 20.8C1.4002 20.8 0.200195 19.3 0.200195 17.8C0.200195 17.3226 0.389838 16.8648 0.727403 16.5272C1.06497 16.1897 1.52281 16 2.0002 16H6.8002C7.27759 16 7.73542 16.1897 8.07299 16.5272C8.41055 16.8648 8.6002 17.3226 8.6002 17.8Z"
                    fill="#B5B2AD" />
            </svg>
        </i>
        Admin Documents</button>

    <div class="logOut mb-xxl-3 pb-xxl-3 pb-2 position-absolute bottom-0 fw-normal">
        <button class="btn fw-normal border-0 d-flex align-items-center">
            <i class=" d-flex me-3">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.66634 4.00002H15.333V10.5334H16.6663V4.00002C16.6663 3.6464 16.5259 3.30726 16.2758 3.05721C16.0258 2.80716 15.6866 2.66669 15.333 2.66669H4.66634C4.31272 2.66669 3.97358 2.80716 3.72353 3.05721C3.47348 3.30726 3.33301 3.6464 3.33301 4.00002V20C3.33301 20.3536 3.47348 20.6928 3.72353 20.9428C3.97358 21.1929 4.31272 21.3334 4.66634 21.3334H15.333C15.6866 21.3334 16.0258 21.1929 16.2758 20.9428C16.5259 20.6928 16.6663 20.3536 16.6663 20H4.66634V4.00002Z" fill="#696764" />
                    <path d="M18.7729 11.52C18.6454 11.4108 18.4813 11.3537 18.3136 11.3602C18.1458 11.3667 17.9866 11.4362 17.8679 11.5549C17.7492 11.6737 17.6796 11.8328 17.6731 12.0006C17.6666 12.1684 17.7237 12.3325 17.8329 12.46L20.0863 14.6667H10.4196C10.2428 14.6667 10.0732 14.7369 9.94819 14.8619C9.82317 14.9869 9.75293 15.1565 9.75293 15.3333C9.75293 15.5101 9.82317 15.6797 9.94819 15.8047C10.0732 15.9297 10.2428 16 10.4196 16H20.0863L17.8329 18.3067C17.7631 18.3664 17.7065 18.44 17.6664 18.5227C17.6264 18.6054 17.6039 18.6955 17.6004 18.7873C17.5969 18.8791 17.6123 18.9707 17.6458 19.0562C17.6794 19.1418 17.7302 19.2194 17.7952 19.2844C17.8601 19.3494 17.9378 19.4002 18.0234 19.4337C18.1089 19.4673 18.2005 19.4827 18.2923 19.4792C18.3841 19.4756 18.4742 19.4532 18.5569 19.4131C18.6396 19.3731 18.7132 19.3164 18.7729 19.2467L22.6663 15.38L18.7729 11.52Z" fill="#696764" />
                </svg>
            </i>
            Log Out
        </button>
    </div>
</div>